body {
  margin: 20px; }

.hook {
  position: absolute;
  top: 0px;
  left: 155.5px;
  z-index: 1;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear; }

.yarn-hanging {
  width: 6px;
  height: 200px;
  background-color: #c300e5ff;
  position: relative;
  left: 163px;
  top: 0px;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-timing-function: linear; }

.spindle-container {
  position: absolute; }

.yarn-upper-still {
  width: 6px;
  height: 145px;
  background-color: #c300e5ff; }

.yarn-middle-still {
  height: 52px;
  width: 6px;
  background-color: #c300e5ff;
  position: absolute; }

.yarn-lower-still {
  height: 150px;
  width: 6px;
  background-color: black;
  position: absolute; }

.spindle {
  position: relative;
  z-index: -1; }

.spindle-animation {
  transform: scale(0.5); }
  .spindle-animation .yarn-upper-animated {
    width: 6px;
    height: 145px;
    background-color: #c300e5ff;
    position: absolute;
    top: 0px;
    left: 163px;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear; }
  .spindle-animation .yarn-middle-animated {
    height: 52px;
    width: 6px;
    background-color: #c300e5ff;
    position: absolute;
    top: 145px;
    left: 163px;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear; }

.yarn-upper-0 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, -1.143, 0.679, 9.142, 2.571);
  transform-origin: -173px -8px; }

.yarn-upper-05 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, -1.032, 0.801, 8.254, 1.589);
  transform-origin: -173px -8px; }

.yarn-upper-1 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, -0.917, 0.859, 7.332, 1.126);
  transform-origin: -173px -8px; }

.yarn-upper-2 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, -0.688, 0.93, 5.501, 0.563);
  transform-origin: -173px -8px; }

.yarn-upper-3 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, -0.461, 0.971, 3.691, 0.232);
  transform-origin: -173px -8px; }

.yarn-upper-4 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, -0.23, 0.993, 1.837, 0.055);
  transform-origin: -173px -8px; }

.yarn-upper-5 {
  position: absolute;
  left: 163px;
  top: 0px; }

.yarn-upper-6 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, 0.228, 0.993, -1.821, 0.055);
  transform-origin: -173px -8px; }

.yarn-upper-7 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, 0.459, 0.971, -3.674, 0.232);
  transform-origin: -173px -8px; }

.yarn-upper-8 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, 0.688, 0.93, -5.506, 0.563);
  transform-origin: -173px -8px; }

.yarn-upper-9 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, 0.917, 0.859, -7.338, 1.126);
  transform-origin: -173px -8px; }

.yarn-upper-95 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, 1.026, 0.801, -8.21, 1.589);
  transform-origin: -173px -8px; }

.yarn-upper-10 {
  position: absolute;
  left: 163px;
  top: 0px;
  transform: matrix(1, 0, 1.146, 0.679, -9.17, 2.571);
  transform-origin: -173px -8px; }

.yarn-middle-0 {
  position: absolute;
  left: -3.5px;
  top: 98.4px; }

.yarn-middle-1 {
  position: absolute;
  left: 29.7px;
  top: 124.6px; }

.yarn-middle-2 {
  position: absolute;
  left: 62.9px;
  top: 134.8px; }

.yarn-middle-3 {
  position: absolute;
  left: 96.1px;
  top: 140.8px; }

.yarn-middle-4 {
  position: absolute;
  left: 129.3px;
  top: 144px; }

.yarn-middle-5 {
  position: absolute;
  left: 162.5px;
  top: 145px; }

.yarn-middle-6 {
  position: absolute;
  left: 195.7px;
  top: 144px; }

.yarn-middle-7 {
  position: absolute;
  left: 228.9px;
  top: 140.8px; }

.yarn-middle-8 {
  position: absolute;
  left: 262.1px;
  top: 134.8px; }

.yarn-middle-9 {
  position: absolute;
  left: 295.3px;
  top: 124.6px; }

.yarn-middle-10 {
  position: absolute;
  left: 328.5px;
  top: 98.4px; }

.yarn-middle-05 {
  position: absolute;
  left: 13.1px;
  top: 116.2px; }

.yarn-middle-95 {
  position: absolute;
  left: 311.9px;
  top: 116.2px; }

.yarn-lower-0 {
  position: absolute;
  left: -3.5px;
  top: 150.4px; }

.yarn-lower-1 {
  position: absolute;
  left: 29.7px;
  top: 176.6px; }

.yarn-lower-2 {
  position: absolute;
  left: 62.9px;
  top: 186.8px; }

.yarn-lower-3 {
  position: absolute;
  left: 96.1px;
  top: 192.8px; }

.yarn-lower-4 {
  position: absolute;
  left: 129.3px;
  top: 196px; }

.yarn-lower-5 {
  position: absolute;
  left: 162.5px;
  top: 197px; }

.yarn-lower-6 {
  position: absolute;
  left: 195.7px;
  top: 196px; }

.yarn-lower-7 {
  position: absolute;
  left: 228.9px;
  top: 192.8px; }

.yarn-lower-8 {
  position: absolute;
  left: 262.1px;
  top: 186.8px; }

.yarn-lower-9 {
  position: absolute;
  left: 295.3px;
  top: 176.6px; }

.yarn-lower-10 {
  position: absolute;
  left: 328.5px;
  top: 150.4px; }

.yarn-lower-05 {
  position: absolute;
  left: 13.1px;
  top: 168.2px; }

.yarn-lower-95 {
  position: absolute;
  left: 311.9px;
  top: 168.2px; }

@keyframes yarn-hanging {
  0% {
    height: 200px; }
  25% {
    height: 250px; }
  50% {
    height: 300px; }
  75% {
    height: 350px; }
  100% {
    height: 400px; } }

@keyframes hook {
  0% { }
  25% {
    transform: rotateY(90deg); }
  50% {
    transform: rotateY(180deg); }
  75% {
    transform: rotateY(270deg); }
  100% {
    transform: rotateY(360deg); } }

@keyframes yarn-upper {
  0% {
    z-index: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: -173px -8px; }
  5% {
    transform: matrix(1, 0, 0.228, 0.993, -1.821, 0.055);
    transform-origin: -173px -8px; }
  10% {
    transform: matrix(1, 0, 0.459, 0.971, -3.674, 0.232);
    transform-origin: -173px -8px; }
  15% {
    transform: matrix(1, 0, 0.688, 0.93, -5.506, 0.563);
    transform-origin: -173px -8px; }
  20% {
    transform: matrix(1, 0, 0.917, 0.859, -7.338, 1.126);
    transform-origin: -173px -8px; }
  23% {
    transform: matrix(1, 0, 1.026, 0.801, -8.21, 1.589);
    transform-origin: -173px -8px; }
  25% {
    z-index: 1;
    transform: matrix(1, 0, 1.146, 0.679, -9.17, 2.571);
    transform-origin: -173px -8px; }
  26% {
    z-index: -1; }
  74% {
    z-index: -1; }
  75% {
    z-index: 1;
    transform: matrix(1, 0, -1.143, 0.679, 9.142, 2.571);
    transform-origin: -173px -8px; }
  78% {
    transform: matrix(1, 0, -1.032, 0.801, 8.254, 1.589);
    transform-origin: -173px -8px; }
  80% {
    transform: matrix(1, 0, -0.917, 0.859, 7.332, 1.126);
    transform-origin: -173px -8px; }
  85% {
    transform: matrix(1, 0, -0.688, 0.93, 5.501, 0.563);
    transform-origin: -173px -8px; }
  90% {
    transform: matrix(1, 0, -0.461, 0.971, 3.691, 0.232);
    transform-origin: -173px -8px; }
  95% {
    transform: matrix(1, 0, -0.23, 0.993, 1.837, 0.055);
    transform-origin: -173px -8px; }
  100% {
    z-index: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transform-origin: -173px -8px; } }

@keyframes yarn-middle {
  0% {
    z-index: 1;
    left: 162.5px;
    top: 145px; }
  5% {
    left: 195.7px;
    top: 144px; }
  10% {
    left: 228.9px;
    top: 140.8px; }
  15% {
    left: 262.1px;
    top: 134.8px; }
  20% {
    left: 295.3px;
    top: 124.6px; }
  23% {
    left: decimal-roundcenterToCurrentGridX(146.4px);
    top: 116.2px; }
  25% {
    z-index: 1;
    left: 328.5px;
    top: 98.4px; }
  26% {
    z-index: -1; }
  74% {
    z-index: -1; }
  75% {
    z-index: 1;
    left: -3.5px;
    top: 98.4px; }
  78% {
    left: 13.1px;
    top: 116.2px; }
  80% {
    left: 29.7px;
    top: 124.6px; }
  85% {
    left: 62.9px;
    top: 134.8px; }
  90% {
    left: 96.1px;
    top: 140.8px; }
  95% {
    left: 129.3px;
    top: 144px; }
  100% {
    z-index: 1;
    left: 162.5px;
    top: 145px; } }
