body {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  overflow: hidden;
  background: #fff; }

.skein {
  width: 100px;
  height: 40px; }

.center {
  margin: 80px auto; }

.so {
  display: block;
  width: 500px;
  height: 156px;
  background: #ffffff; }
  .so .inner {
    width: 500px;
    height: 156px;
    position: absolute; }
    .so .inner * {
      position: absolute;
      animation-iteration-count: infinite;
      animation-duration: 2s; }
    .so .inner .name {
      position: absolute;
      font-size: 54px;
      left: 160px;
      top: 95px; }
      .so .inner .name .b {
        font-weight: bold; }
    .so .inner .stack-box {
      top: 100px;
      width: 144px;
      height: 56px; }
    .so .inner .box {
      width: 144px;
      height: 56px;
      left: 0px; }
      .so .inner .box div {
        background: #BCBBBB; }
      .so .inner .box .bottom {
        bottom: 0px;
        left: 0px;
        width: 144px;
        height: 12px; }
      .so .inner .box .left {
        bottom: 11px;
        left: 0px;
        width: 12px;
        height: 34px; }
      .so .inner .box .right {
        bottom: 11px;
        left: 132px;
        width: 12px;
        height: 34px; }
      .so .inner .box .top {
        top: 0px;
        left: 0px;
        width: 0;
        height: 12px; }
    .so .inner .stack {
      left: 22px;
      top: -6px; }
      .so .inner .stack .inner-item {
        width: 100px;
        height: 40px; }
      .so .inner .stack .item {
        transition: transform 0.3s;
        width: 320px; }
      .so .inner .stack div:nth-child(1) {
        transform: rotate(0deg); }
      .so .inner .stack div:nth-child(2) {
        transform: rotate(20deg); }
      .so .inner .stack div:nth-child(3) {
        transform: rotate(40deg); }
      .so .inner .stack div:nth-child(4) {
        transform: rotate(60deg); }
      .so .inner .stack div:nth-child(5) {
        transform: rotate(80deg); }
  .so .stack .item:nth-child(1) {
    animation-name: stack-item-1; }
  .so .stack .item:nth-child(2) {
    animation-name: stack-item-2; }
  .so .stack .item:nth-child(3) {
    animation-name: stack-item-3; }
  .so .stack .item:nth-child(4) {
    animation-name: stack-item-4; }
  .so .stack .item:nth-child(5) {
    animation-name: stack-item-5; }

@keyframes stack-item-1 {
  0% {
    opacity: 0.2; }
  8% {
    opacity: 0.4; }
  17% {
    opacity: 0.6; }
  25% {
    opacity: 0.8; }
  33% {
    opacity: 1; }
  42% {
    opacity: 0.8; }
  50% {
    opacity: 0.6; }
  58% {
    opacity: 0.4; }
  67% {
    opacity: 0.2; }
  75% {
    opacity: 0; }
  83% {
    opacity: -0.2; }
  92% {
    opacity: -0.4; }
  100% {
    opacity: -0.6; } }

@keyframes stack-item-2 {
  0% {
    opacity: 0; }
  8% {
    opacity: 0.2; }
  17% {
    opacity: 0.4; }
  25% {
    opacity: 0.6; }
  33% {
    opacity: 0.8; }
  42% {
    opacity: 1; }
  50% {
    opacity: 0.8; }
  58% {
    opacity: 0.6; }
  67% {
    opacity: 0.4; }
  75% {
    opacity: 0.2; }
  83% {
    opacity: 0; }
  92% {
    opacity: -0.2; }
  100% {
    opacity: -0.4; } }

@keyframes stack-item-3 {
  0% {
    opacity: -0.2; }
  8% {
    opacity: 0; }
  17% {
    opacity: 0.2; }
  25% {
    opacity: 0.4; }
  33% {
    opacity: 0.6; }
  42% {
    opacity: 0.8; }
  50% {
    opacity: 1; }
  58% {
    opacity: 0.8; }
  67% {
    opacity: 0.6; }
  75% {
    opacity: 0.4; }
  83% {
    opacity: 0.2; }
  92% {
    opacity: 0; }
  100% {
    opacity: -0.2; } }

@keyframes stack-item-4 {
  0% {
    opacity: -0.4; }
  8% {
    opacity: -0.2; }
  17% {
    opacity: 0; }
  25% {
    opacity: 0.2; }
  33% {
    opacity: 0.4; }
  42% {
    opacity: 0.6; }
  50% {
    opacity: 0.8; }
  58% {
    opacity: 1; }
  67% {
    opacity: 0.8; }
  75% {
    opacity: 0.6; }
  83% {
    opacity: 0.4; }
  92% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }

@keyframes stack-item-5 {
  0% {
    opacity: -0.6; }
  8% {
    opacity: -0.4; }
  17% {
    opacity: -0.2; }
  25% {
    opacity: 0; }
  33% {
    opacity: 0.2; }
  42% {
    opacity: 0.4; }
  50% {
    opacity: 0.6; }
  58% {
    opacity: 0.8; }
  67% {
    opacity: 1; }
  75% {
    opacity: 0.8; }
  83% {
    opacity: 0.6; }
  92% {
    opacity: 0.4; }
  100% {
    opacity: 0.2; } }
