@import "_decimal.scss";

// Checked from Inkscape
$spindle-width: 332px;
$spindle-height: 849px;
$spindle-ellipse-a: 331px / 2;
$spindle-ellipse-b: 101px / 2;
$spindle-ellipse-mid-y: 110px;

$sliceX: $spindle-width / 10;

$hook-height: 35px;
$hook-width: 21px;

// Yarn parts
$yarn-color: #c300e5ff;
$yarn-width: 6px;

$yarn-hanging-height: 200px;

$yarn-upper-height: 145px;

$yarn-middle-height: 52px;

$yarn-lower-height: 150px;


// Other variables
$body-margin: 20px;
$yarn-animation-duration: 5s;

// Copied online, works
@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

@function ellipseY($x) {
  $seb: $spindle-ellipse-b;
  $sea: $spindle-ellipse-a;
  $y2: strip-unit(($seb * $seb * ($sea * $sea - $x * $x)) / ($sea * $sea));
  @return sqrt($y2);
}


@function centerToCurrentGridX($coordX) {
  @return decimal-round($coordX + ($spindle-ellipse-a), 1);
}


@function centerToCurrentGridY($coordY) {
  @return decimal-round($coordY + ($spindle-ellipse-b), 1);
}

@function getYarnMiddleTop($times) {
    @return centerToCurrentGridY(ellipseY(($times * $sliceX))) +$yarn-middle-height -8px;
}

@function getYarnLowerTop($times) {
    @return getYarnMiddleTop($times) + $yarn-middle-height;
}

// Copied online, works
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

body {
  margin: $body-margin;
}

.hook {
  position: absolute;
  top: 0px;
  left: ($spindle-width - $hook-width)/2;
  z-index: 1;
  animation-iteration-count: infinite;
  animation-duration: $yarn-animation-duration;
  animation-timing-function: linear;
  //animation-name: hook;
}

.yarn-hanging {
  width: $yarn-width;
  height: $yarn-hanging-height;
  background-color: $yarn-color;
  position: relative;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;

  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: $yarn-animation-duration;
  animation-timing-function: linear;
  //animation-name: yarn-hanging;
}

.spindle-container {
  position: absolute;
}

.yarn-upper-still {
  width: $yarn-width;
  height: $yarn-upper-height;
  background-color: $yarn-color;
}

.yarn-middle-still {
  height: $yarn-middle-height;
  width: $yarn-width;
  background-color: $yarn-color;
  position: absolute;
}

.yarn-lower-still {
    height: $yarn-lower-height;
    width: $yarn-width;
    background-color: black;
    position: absolute;
}

.spindle {
  position: relative;
  z-index: -1;
}

.spindle-animation {
  transform: scale(0.5);

  .yarn-upper-animated {
    width: $yarn-width;
    height: $yarn-upper-height;
    background-color: $yarn-color;
    position: absolute;
    top: 0px;
    left: ($spindle-width - $yarn-width)/2;

    animation-iteration-count: infinite;
    animation-duration: $yarn-animation-duration;
    animation-timing-function: linear;
    //animation-name: yarn-upper;
  }

  .yarn-middle-animated {
    height: $yarn-middle-height;
    width: $yarn-width;
    background-color: $yarn-color;

    position: absolute;
    top: getYarnMiddleTop(0);
    left: ($spindle-width - $yarn-width)/2;

    animation-iteration-count: infinite;
    animation-duration: $yarn-animation-duration;
    animation-timing-function: linear;
    //animation-name: yarn-middle;
  }
}

.yarn-upper-0 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, -1.143, 0.679, 9.142, 2.571);
  transform-origin: -173px -8px;
}

.yarn-upper-05 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, -1.032, 0.801, 8.254, 1.589);
  transform-origin: -173px -8px;
}

.yarn-upper-1 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, -0.917, 0.859, 7.332, 1.126);
  transform-origin: -173px -8px;
}

.yarn-upper-2 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, -0.688, 0.93, 5.501, 0.563);
  transform-origin: -173px -8px;
}

.yarn-upper-3 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, -0.461, 0.971, 3.691, 0.232);
  transform-origin: -173px -8px;
}

.yarn-upper-4 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, -0.23, 0.993, 1.837, 0.055);
  transform-origin: -173px -8px;
}

.yarn-upper-5 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
}

.yarn-upper-6 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, 0.228, 0.993, -1.821, 0.055);
  transform-origin: -173px -8px;
}

.yarn-upper-7 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, 0.459, 0.971, -3.674, 0.232);
  transform-origin: -173px -8px;
}

.yarn-upper-8 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, 0.688, 0.93, -5.506, 0.563);
  transform-origin: -173px -8px;
}

.yarn-upper-9 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, 0.917, 0.859, -7.338, 1.126);
  transform-origin: -173px -8px;
}

.yarn-upper-95 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, 1.026, 0.801, -8.21, 1.589);
  transform-origin: -173px -8px;
}

.yarn-upper-10 {
  position: absolute;
  left: ($spindle-width - $yarn-width)/2;
  top: 0px;
  transform: matrix(1, -0, 1.146, 0.679, -9.17, 2.571);
  transform-origin: -173px -8px;
}

@for $t from -5 through 5 {
  .yarn-middle-#{($t +5)} {
    position: absolute;
    left: centerToCurrentGridX(($t * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop($t);
  }
}

.yarn-middle-05 {
  position: absolute;
  left: centerToCurrentGridX((-4.5 * $sliceX) - ($yarn-width/2));
  top: getYarnMiddleTop(-4.5);
}

.yarn-middle-95 {
  position: absolute;
  left: centerToCurrentGridX((4.5 * $sliceX) - ($yarn-width/2));
  top: getYarnMiddleTop(4.5);
}

@for $t from -5 through 5 {
    .yarn-lower-#{($t +5)} {
      position: absolute;
      left: centerToCurrentGridX(($t * $sliceX) - ($yarn-width/2));
      top: getYarnLowerTop($t);
    }
  }

.yarn-lower-05 {
    position: absolute;
    left: centerToCurrentGridX((-4.5 * $sliceX) - ($yarn-width/2));
    top: getYarnLowerTop(-4.5);
}

.yarn-lower-95 {
    position: absolute;
    left: centerToCurrentGridX((4.5 * $sliceX) - ($yarn-width/2));
    top: getYarnLowerTop(4.5);
}

@keyframes yarn-hanging {
  0% {
    height: $yarn-hanging-height;
  }
  25% {
      height: $yarn-hanging-height * 1.25;
  }
  50% {
    height: $yarn-hanging-height * 1.5;
  }
  75% {
    height: $yarn-hanging-height * 1.75;
  }
  100% {
    height: $yarn-hanging-height * 2;
  }
}

@keyframes hook {
  0% {
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

// Note, trying to start the animation from the point when the yarn is in front, in the middle
// so from old number 5
@keyframes yarn-upper {
    0% {
      z-index: 1;
      transform: matrix(1, -0, 0, 1, 0, 0);
      transform-origin: -173px -8px;
    }
    // Old number 6
    5% {
      transform: matrix(1, -0, 0.228, 0.993, -1.821, 0.055);
      transform-origin: -173px -8px;
    }
    // 7
    10% {
      transform: matrix(1, -0, 0.459, 0.971, -3.674, 0.232);
      transform-origin: -173px -8px;
    }
    // 8
    15% {
      transform: matrix(1, -0, 0.688, 0.93, -5.506, 0.563);
      transform-origin: -173px -8px;
    }
    // 9
    20% {
      transform: matrix(1, -0, 0.917, 0.859, -7.338, 1.126);
      transform-origin: -173px -8px;
    }
    // 95
    23% {
      transform: matrix(1, -0, 1.026, 0.801, -8.21, 1.589);
      transform-origin: -173px -8px;
    }
    // Old number 10
    25% {
      z-index: 1;
      transform: matrix(1, -0, 1.146, 0.679, -9.17, 2.571);
      transform-origin: -173px -8px;
    }
    // Yarn behind spindle
    26% {
      z-index: -1;
    }
    74% {
      z-index: -1;
    }
    // Old number 0
    75% {
      z-index: 1;
      transform: matrix(1, -0, -1.143, 0.679, 9.142, 2.571);
      transform-origin: -173px -8px;
    }
    // 05
    78% {
      transform: matrix(1, -0, -1.032, 0.801, 8.254, 1.589);
      transform-origin: -173px -8px;
    }
    // 1
    80% {
      transform: matrix(1, -0, -0.917, 0.859, 7.332, 1.126);
      transform-origin: -173px -8px;
    }
    // 2
    85% {
      transform: matrix(1, -0, -0.688, 0.93, 5.501, 0.563);
      transform-origin: -173px -8px;
    }
    // 3
    90% {
      transform: matrix(1, -0, -0.461, 0.971, 3.691, 0.232);
      transform-origin: -173px -8px;
    }
    // 4
    95% {
      transform: matrix(1, -0, -0.23, 0.993, 1.837, 0.055);
      transform-origin: -173px -8px;
    }
    // 5
    100% {
      z-index: 1;
      transform: matrix(1, -0, 0, 1, 0, 0);
      transform-origin: -173px -8px;
    }
  }

// Note, trying to start the animation from the point when the yarn is in front, in the middle
// so from old number 0

@keyframes yarn-middle {
  0% {
    z-index: 1;
    left: centerToCurrentGridX((0 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(0);
  }
  5% {
    left: centerToCurrentGridX((1 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(1);
  }
  10% {
    left: centerToCurrentGridX((2 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(2);
  }
  15% {
    left: centerToCurrentGridX((3 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(3);
  }
  20% {
    left: centerToCurrentGridX((4 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(4);
  }
  23% {
    left: decimal-roundcenterToCurrentGridX((4.5 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(4.5);
  }
  // Right hand edge
  25% {
    z-index: 1;
    left: centerToCurrentGridX((5 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(5);
  }
  // Yarn behind spindle
  26% {
    z-index: -1;
  }
  74% {
    z-index: -1;
  }
  // Left edge, yarn in front of spindle
  75% {
    z-index: 1;
    left: centerToCurrentGridX((-5 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(-5);
  }
  78% {
    left: centerToCurrentGridX((-4.5 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(-4.5);
  }
  80% {
    left: centerToCurrentGridX((-4 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(-4);
  }
  85% {
    left: centerToCurrentGridX((-3 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(-3);
  }
  90% {
    left: centerToCurrentGridX((-2 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(-2);
  }
  95% {
    left: centerToCurrentGridX((-1 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(-1);
  }
  100% {
    z-index: 1;
    left: centerToCurrentGridX((0 * $sliceX) - ($yarn-width/2));
    top: getYarnMiddleTop(0);
  }
}


