$box-color: #BCBBBB;
$stack-color: #F48024;
$main-background: #ffffff;

$stack-padding: 10px;

// Old, trying new
//$box-size:  12px;
//$box-width: 115px;
// New
$box-size:  12px;

// Old
//$stack-width: $box-width - 2*$box-size - 2*$stack-padding;
// New
$stack-width: 100px;
$stack-height: 40px;


$box-width: $stack-width + 2*$box-size + 2*$stack-padding;

// Old
$box-height: $box-size * 3 + $stack-padding * 2;
$box-y: 100px;


// Apparently not used 
//$stack-arc-length: 100px;
$stack-arc-rotation: 20deg;


body{
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  overflow: hidden;
  background: #fff;
}

.skein {
    width: $stack-width;
    height: $stack-height;
}

.center{
  margin: 80px auto;
}

.so{
  display: block;
  width: 500px;
  height: $box-y + $box-height;
  background: $main-background;

  .inner{
    width: 500px;
    height: $box-y + $box-height;
    position: absolute;

    *{
      position: absolute;
      animation-iteration-count: infinite;
      animation-duration: 2s;
    }

    .name{
      position: absolute;
      font-size: 54px;
      left: 160px;
      top: $box-y - 5px;

      .b{
        font-weight: bold;
      }
    }

    .stack-box{
      top: $box-y;
      width: $box-width;
      height: $box-height;
    }

    .box{
      width: $box-width;
      height: $box-height;
      left: 0px;

      div{
        background: $box-color;
      }

      .bottom{
        bottom: 0px;
        left: 0px;
        width: $box-width;
        height: $box-size;
      }

      .left{
        bottom: $box-size - 1px;
        left: 0px;
        width: $box-size;
        height: $box-height - $box-size * 2 + 2px;
      }

      .right{
        bottom: $box-size - 1px;
        left: $box-width - $box-size;
        width: $box-size;
        height: $box-height - $box-size * 2 + 2px;
      }

      .top{
        top: 0px;
        left: 0px;
        width: 0;
        height: $box-size;
      }
    }

    .stack{
      left: $box-size + $stack-padding;
      top: $box-height - $box-size - $stack-padding - $stack-height;

      .inner-item{
        width: $stack-width;
        height: $stack-height;
      }

      
      .item{
        transition: transform 0.3s;
        width: $box-width - 2*$box-size - 2*$stack-padding + 220px;
      }
      
      @for $i from 0 through 4 {
        div:nth-child(#{$i+1}){
          transform: rotate(#{$i * $stack-arc-rotation}) ;
        }
      }
    }
  }
    .stack{
      
      @for $i from 1 through 5 {
        .item:nth-child(#{$i}){
          animation-name: stack-item-#{$i};
        }
      }
    }
  }

  
    @for $j from 1 through 5 {
      @keyframes stack-item-#{$j} {
        0%  { opacity: (2-$j) *0.2; }
        8% { opacity: (3-$j) *0.2; }
        17% { opacity: (4-$j) *0.2; }
        25% { opacity: (5-$j) *0.2; }
        33% { opacity: (6-$j) *0.2; }
        42% { opacity: 0.2*(5 - abs(-2 +$j));}
        50% { opacity: (5 - abs(-3 + $j))*0.2;}
        58% { opacity: (5 - abs(-4 +$j))*0.2;}
        67% { opacity: $j *0.2;}
        75% { opacity: (-1+$j) *0.2;}
        83% { opacity: (-2 +$j) *0.2;}
        92% { opacity: (-3 +$j) *0.2;}
        100% { opacity: (-4 +$j) *0.2;}
      }
  }

